<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <h1>My Shopping list - Total : {{ total }}</h1>
    <div class="alert alert-danger w-25" role="alert" v-if="alert">
      Fais gaffe à ton budget bordel !
    </div>


    <div class="input-group mb-3 w-25">
      <div class="input-group-prepend">
        <span class="input-group-text">Budget</span>
      </div>
      <input type="text" class="form-control" v-model="budget">
      <div class="input-group-append">
        <span class="input-group-text">€</span>
      </div>
    </div>
    
    <div class="input-group w-25">
      <input @keyup.enter="addItem" v-model="newItem" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="addItem">Button</button>
      </div>
    </div>
    <autocomplete :items="shopList" :input="newItem"></autocomplete>
    <list :items="shopList" class="mt-3"></list>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script type="module" src="js/app.js"></script>
</body>
</html>